:root {
  --background: #f2f2f4;
  --shadow: #f0f0f1;
  --shadow-hover: #ebebea;
  --color-text: #3f3f3f;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: #eff2f3;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-inputtext:enabled:hover {
  border-color: #22c55e;
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 2px #22c55e3f;
  border-color: #22c55e;
}

.p-dropdown:hover {
  border-color: #22c55e !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #22c55e3f;
  border-color: #22c55e;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: #22c55e3f;
  color: #22c55e;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: #22c55e3f;
}

.p-button.p-button-outlined {
  color: #22c55e;
}

.p-button.p-highlight {
  background: #22c55e !important;
  border-color: #22c55e !important;
}

.p-button.p-highlight:hover,
.p-button.p-highlight:focus {
  background: #16a34a !important;
  border-color: #16a34a !important;
}
.p-button.p-highlight:active {
  background: #15803d !important;
  border-color: #15803d !important;
}

.p-button:focus {
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px #22c55e,
    0 1px 2px 0 black;
}

.p-button.p-button-outlined {
  background-color: transparent;
  color: #22c55e;
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:hover {
  background: rgba(34, 197, 94, 0.04);
  color: #22c55e;
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:active {
  background: rgba(34, 197, 94, 0.16);
  color: #22c55e;
  border: 1px solid;
}

h2 {
  font-size: 16px;
}
