
.card {
  position: relative;
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  padding: 8px;
  box-shadow:
          0 2px 6px rgba(0, 0, 0, 0.03),
          0 0 2px rgba(0, 0, 0, 0.06),
          0 1px 4px rgba(0, 0, 0, 0.12);
}

img.image {
  object-fit: contain;
  cursor: pointer;
  box-shadow: 0 2px 5px #00000008, 0 0 1px #0000000f, 0 1px 3px #0000001f;
}

.discount {
  position: absolute;
  background: #f5f462;
  font-weight: 700;
  font-size: 14px;
  padding: 2px 12px 2px 4px;
  margin-right: -8px;
  border-radius: 4px 0 0 4px;
  top: 6px;
  right: 8px;
  box-shadow:
          0 2px 5px rgba(0, 0, 0, 0.03),
          0 0 1px rgba(0, 0, 0, 0.06),
          0 1px 3px rgba(0, 0, 0, 0.12);
}

.cost {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: flex-end;
  .new {
    font-weight: 700;
    font-size: 18px;
  }
  .old {
    color: #aaa;
    text-decoration: line-through;
    font-size: 12px;
  }
}

.name {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.translate {
  font-size: 10px;
}

.retailer {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
  &-logo {
    height: 16px;
    width: 16px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow:
            0 2px 5px rgba(0, 0, 0, 0.03),
            0 0 1px rgba(0, 0, 0, 0.06),
            0 1px 3px rgba(0, 0, 0, 0.12);
  }
  &-name {
    font-size: 12px;
  }
}

.date {
  color: #aaa;
  font-size: 10px;
}

.condition {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .card {
    padding: 16px;
  }
  .discount {
    font-size: 20px;
    padding: 4px 24px 4px 8px;
    margin-right: -16px;
    border-radius: 8px 0 0 8px;
    top: 12px;
    right: 16px;
  }
  .cost {
    gap: 8px;
    .new {
      font-size: 24px;
    }
    .old {
      font-size: 16px;
    }
  }
  .name {
    font-size: 18px;
  }
  .translate {
    font-size: 14px;
  }
  .retailer {
    gap: 8px;
    &-logo {
      height: 24px;
      width: 24px;
    }
    &-name {
      font-size: 16px;
    }
  }
  .date {
    font-size: 14px;
  }
}
